<h1>Formular adaugare evenimente</h1>

<form action="adaugaeveniment" method="POST">
    <input type="text" placeholder="titlu eveniment" name="titlu">
    <input type="text" placeholder="descriere" name="descriere">
    <input type="text" placeholder="locatie" name="locatie">
    <button>Submit</button>
</form>